[formatters]
keys=form01

[formatter_form01]
format=%(levelname)s: %(message)s
datefmt=
class=logging.Formatter

[handlers]
keys=hand01

[handler_hand01]
class=StreamHandler
level=NOTSET
formatter=form01
args=(sys.stdout,)

[loggers]
keys=root,jostedal

[logger_root]
level=NOTSET
handlers=hand01

[logger_jostedal]
level=NOTSET
handlers=hand01
propagate=0
qualname=jostedal
